{% extends "dealers_and_dealer_centers/base.html" %}
{% block content %}
{% url 'new_vehicles_at_dealer_center' dealer_center.slug as new_vehicles_at_dealer_center_url %}
{% url 'vehicles_with_mileage_at_dealer_center' dealer_center.slug as vehicles_with_mileage_at_dealer_center_url %}
<article class="dealer-center">
    <div class="dealer-center-main">
        <h2>{{ dealer_center.name }}</h2>
        <h3>Услуги:</h3>
        <ul class="vehicle-services">
            {% if dealer_center.vehicle_sale %}
            <li>Продажа транспортных средств:
                <ul class="vehicle-sales">
                    {% if new_vehicles_at_dealer_center_url %}
                        <a href="{{ new_vehicles_at_dealer_center_url }}">
                            <li class="vehicle-sales">Модельный ряд</li>
                        </a>
                    {% else %}
                        <a href="{{ new_vehicles_at_dealer_center_url }}" onclick="return false;">
                            <li>Модельный ряд</li>
                        </a>
                    {% endif %}
                    {% if vehicles_with_mileage_at_dealer_center_url %}
                        <a href="{{ vehicles_with_mileage_at_dealer_center_url }}">
                        <li>Авто с пробегом</li>
                        </a>
                    {% else %}
                        <a href="{{ vehicles_with_mileage_at_dealer_center_url }}" onclick="return false;">
                        <li>Авто с пробегом</li>
                        </a>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if dealer_center.vehicle_repair %}
            <li>Ремонт транспортных средств</li>
            {% endif %}
            {% if dealer_center.composition_of_spare_parts %}
            <li>Склад запасных частей</li>
            {% endif %}
            {% if dealer_center.car_warehouse %}
            <li>Склад автомобилей</li>
            {% endif %}
        </ul>
        </p>
        <p>Адрес: {{ dealer_center.address }}</p>
        <p>Номер: {{ dealer_center.telephone_number }}</p>
        <h3 class="form-title">Оставить отзыв</h3>
        <form action="{% url 'add_review' dealer_center.id %}" method="post">
            {% csrf_token %}
            <div class="form">
            <div class="form-content">
                <input type="text" name="name" placeholder="Имя *" required="">
            </div>
            <div class="form-content">
                <input type="email" name="email" placeholder="Email *" required="">
            </div>
            <div class="form-content">
                <textarea name="text" rows="6" placeholder="Текст *" required=""></textarea>
            </div>
            <button type="submit" class="form-bttn">Отправить</button>
            </div>
        </form>
    </div>
    <div class="dealer-center-secondary">
        {% if dealer_center.image %}
        <img src="{{ dealer_center.image.url }}" class="img-dealer-center">
        {% else %}
        <img src="#" class="img-dealer-center">
        {% endif %}
    </div>
    <div class="dealer-center-reviews">
        <h3 class="review-title">Лента отзывов</h3>
        {% for review in dealer_center.dealer_center_review.all %}
        <div class="review">
            <span>{{ review.name }}-{{ review.email }}</span>
            <p>{{ review.text }}</p>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock %}






























