{% extends "dealers_and_dealer_centers/base.html" %}
{% block content %}
    {% for dealer in dealers %}
    <article class="dealer">
        <div class="dealer-main">
            <h2>{{ dealer.name }}</h2>
            <p>{{ dealer.description }}</p>
            <ul>Дилерские центры:
                {% for dealer_center in dealer.car_saloons.all %}
                <li>{{dealer_center.name}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="dealer-secondary">
            <img src="{{dealer.image.url}}" class="img-main">
        </div>
    </article>
    {% endfor %}
{% endblock %}

