{% extends "dealers_and_dealer_centers/base.html" %}
{% block content %}
    {% for dealer in dealers %}
    <article class="article-recent">
        <div class="article-recent-main">
            <h2>{{ dealer.name }}</h2>
            <p>Дилерские центры:
                {% for dealer_center in dealer.car_saloons.all %}
                {{dealer_center.name}}
                {% endfor %}
            </p>
        </div>
        <div class="article-recent-secondary">
            <img src="{{dealer.image.url}}" class="article-image">
        </div>
    </article>
    {% endfor %}
{% endblock %}

