{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'dealers_and_dealer_centers/css/main.css' %}">
</head>
<body>
{% include 'dealers_and_dealer_centers/navbar.html' %}
<h1>Дилеры и дилерские центры</h1>
{% for dealer in dealers %}
    <h2>{{ dealer.name }}</h2>
    <img src="{{dealer.image.url}}" width="125" height="100">
    {% for dealer_center in dealer.car_saloons.all %}
        <h3>{{ dealer_center.name }}</h3>
        <p>{{ dealer_center.address }}</p>
        <p>{{ dealer_center.telephone_number }}</p>
        {% for vehicle in dealer_center.vehicle_dealer_center.all %}
            <h4>{{vehicle.name}}</h4>
            <img src="{{vehicle.image.url}}" width="300" height="300">
            <p>{{vehicle.vin}}</p>
            <p>{{vehicle.engine}}</p>
            <p>{{vehicle.transmission}}</p>
            <p>{{vehicle.year_of_release}}</p>
            <p>{{vehicle.vehicle_mileage}}</p>
            <p>{{vehicle.price}}</p>
        {% endfor %}
    {% endfor %}
{% endfor %}
</body>
</html>