<footer class="container container-footer">
    <div class="footer-right">
      <p>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
      </p>
    </div>
    <div class="footer-left">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Обратная связь</a></li>
      </ul>
      <p>Honest Dealer &copy; 2021</p>
    </div>
</footer>