<header>
  <div class="container container-nav">
    <div class="site-title">
      <h1>Honest Dealer</h1>
      <p class="subtitle">Дилеры Москвы и Московской области</p>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'dealers' %}">Главная</a></li>
        <li><a href="{% url 'dealer_centers' %}">Дилерские центры</a></li>
        <li><a href="{% url 'new_vehicles' %}">Модельный ряд</a></li>
        <li><a href="{% url 'vehicles_with_mileage' %}">Авто с пробегом</a></li>
      </ul>
    </nav>
  </div>
</header>
