{% extends "dealers_and_dealer_centers/dealers_list.html" %}
{% block content %}
<h3>{{ vehicle.name }}</h3>
<article class="vehicle-images">
    <div class="vehicle-images-additional-1">
        {% for vehicle_photo in vehicle.vehicle_images.all|slice:':3' %}
            <img src="{{vehicle_photo.image.url}}" class="img-additional" onclick="imgFunction(this)">
        {% endfor %}
    </div>
    <div class="vehicle-images-additional-2">
        {% for vehicle_photo in vehicle.vehicle_images.all|slice:'3:6' %}
            <img src="{{vehicle_photo.image.url}}" class="img-additional" onclick="imgFunction(this)">
        {% endfor %}
    </div>
    <div class="vehicle-image-main">
        {% for vehicle_photo in vehicle.vehicle_images.all|slice:':1' %}
            <img src="{{vehicle_photo.image.url}}" id="imageField" class="img-main">
        {% endfor %}
    </div>
</article>
<article class="vehicle">
    <div class="vehicle-description">
        <p>Марка: {{ vehicle.brand }}</p>
        <p>Модель: {{ vehicle.model }}</p>
        <p>Двигатель: {{ vehicle.engine }}</p>
        <p>VIN: {{ vehicle.vin|slice:':8'|add:'*********' }}</p>
    </div>
    <div class="vehicle-description">
        <p>Трансмиссия: {{ vehicle.transmission }}</p>
        <p>Цвет: {{ vehicle.color }}</p>
        <p>Год: {{ vehicle.year_of_release }}</p>
        <h3>Цена {{ vehicle.price }} руб</h3>
    </div>
</article>
<article class="vehicle-at-dealer-center">
    <div class="vehicle-at-dealer-center-description">
        <a href="{% url 'dealer_center' vehicle.dealer_center.slug %}"><h3>{{ vehicle.dealer_center.name }}</h3></a>
        <p>{{ vehicle.dealer_center.address }}</p>
        <p>{{ vehicle.dealer_center.telephone_number }}</p>
    </div>
</article>
<script>
    function imgFunction(smallImg)
    {
        var largeImg = document.getElementById("imageField");
        largeImg.src = smallImg.src;
    }
</script>
{% endblock %}