{% extends "dealers_and_dealer_centers/dealers_list.html" %}
{% block content %}
<div class="container container-flex">
    <aside>
    </aside>
    <main>
        {% for vehicle in vehicles %}
        <article class="article-recent">
            <div class="article-recent-main">
                <p>Марка: {{ vehicle.brand }}</p>
                <p>Модель: {{ vehicle.car_model }}</p>
                <p>VIN: {{ vehicle.vin }}</p>
                <p>Двигатель: {{ vehicle.engine }}</p>
                <p>Год: {{ vehicle.year_of_release }}</p>
                <p>Дилерский центр: {{ vehicle.dealer_center }}</p>
                <p>Цена: {{ vehicle.price }} руб</p>
            </div>
            <div class="article-recent-secondary">
                <img src="{{vehicle.image.url}}" class="article-image" width="500" height="500">
            </div>
        </article>
        {% endfor %}
    </main>
    <aside></aside>
</div>
{% endblock %}
